<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="IsListenSerialPort1" value="N" />
		<add key="SerialPort1" value="COM7" />
		<add key="IsListenSerialPort2" value="N" />
		<add key="SerialPort2" value="COM4" />
		<add key="SerialPortSms" value="COM20" />
		<add key="IsOpenSerialPortSms" value="Y" />
		<add key="SmsPhoneNo" value="13061744909" />
		<add key="LogFilePath1" value="C:\Temp\log1" />
		<add key="MailTo1" value="jiashu_shanghai@163.com" />
		<add key="MailTo2" value="jiashuwei_sh@163.com" />
		<add key="CancelTime" value="30" />
	</appSettings>
</configuration>